.tbody {
    text-indent: 3vw;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: min(15px) max(30);
    line-height: 6vh;
    color: #7a5c3c;
    width: 80vw;
    padding-left: 10vw;
    padding-top: 18vh;
    padding-bottom: 10vh;

    


}

.h1{

    padding-bottom: 5vh;
    color: aliceblue;
}
