.tfuti{
    display: flex;
    flex-direction: reverse row;
    justify-items:end;
    height: auto;
    

}


.tfooter{
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    font-size: min(10px) max(25);
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5vh;
    font-style: normal;
    height: auto;       
    line-height: 4vh;

}

