.bob{
    display: flex;
    justify-content: center;
    flex-direction: row;
       
}

.logo1{

    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0px;
    display: flex;
    height: 50px;
    width: 80px;
    filter:blur(0.0px); 
    

}

.tfooter{

    /* margin-bottom: 5vh; */
    font-style: normal;
    color: black;
    line-height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
  

}

.haha{


}

