/* teste */
.theader{

  display: flex;
  align-content: center;
  
  
}

.logo{
  display: flex;
  height: 25vw;
  width: 50vw;
  filter:blur(0px)

  }
  
.Instagram{
  height: 10vw;
  width: 10vw;

 

}
.insta{

  height: 10vw;
  width: 10vw;

  


}
.Whatsapp{

  height: 9.3vw;
  width: 9.3vw;
  margin-top: 1vw; 
  margin-right: 2vw;


}
.whats{

  height: 9.3vw;
  width: 9.3vw;
  margin-top: -0.5vw;
  margin-right: 2vw;

  }

.linkRow{
  display: flex;
  flex-direction: row-reverse;
  align-items:stretch;
  width: 100%;
    
  }
  

  