/* .App{
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  
} */

/* .App{

  background-color: rgb(255, 255, 255);
  grid-gap: 1vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: 1fr 1fr 1fr 3fr 4fr;
  grid-template-areas: "header header header header header"
                          "main main main main main"
                          "footer footer footer footer footer";
                   
  } */

  .App{
     display: flex;
    flex-direction: column;

}


.header {
    position:fixed;
    background-color: #ccc6c1;
    height: auto;
    width: 100vw;
    box-shadow: 0 0 10px 1px #222;


}

.main {
    height: auto;
    width: 100vw;
    background-color: #fcf7f3;
    box-shadow: 0 0 10px 1px #222;
  }


.footer {
    height: auto;
    /* width: 100vw; */
    box-shadow: 0 0 10px 1px #222;  
    background-color: #ece6e1;


}
