/* git commit -m "docs(CHANGELOG): correct spelling" */

  .App{
    display: flex;
    flex-direction: column;
    background: url(assets/background.jpg)

}


.header {
    position:fixed;
    height: auto;
    width: 100vw;
    box-shadow: 0 0 10px 1px #222;
    background: url(assets/naruto.png);
    padding:15px;     


}

.main {
    height: auto;
    background-color: #f8e9db ;
    box-shadow: 0 0 10px 1px #222;
    align-self: center;
    width: 80vw;
    margin-right: 50vw;
    margin-left: 50vw;
  }
  

.footer {
    height: auto;
    box-shadow: 0 0 10px 1px #222;  
    background: url(assets/naruto.png)
    

}
